*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-text-size{
    font-family: 'Times New Roman', Times, serif !important;
}
.links-decoration a{

    text-decoration: none;
    color: rgb(43, 42, 42);
    font-size: 20px;
}
nav .links-decoration a{
    text-decoration: none;
    color: rgb(43, 42, 42);
    font-size: 18px;
}
.links-decoration a:hover{
 transition: all 1s ease;
 color: rgb(167, 160, 160);
}  
.main-text-size-2{
    font-size: 72px !important;
    font-family: 'Times New Roman', Times, serif !important;
}
.text-size-nav{
    font-size: 18px;
}


.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: hidden;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}